<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "À propos" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h2>Bienvenue dans le Projet iWebcamProtect</h2>
          <p>
            Nous sommes en dernière année de nos études d’ingénieur à l’ISIMA, l’Institut Supérieur d’Informatique de Modélisation et de leurs Applications. En début d’année, nous avons eu l’opportunité de proposer un projet en lien avec nos filières respectives, la F4 pour Mathis et la F5 pour Paul.
          </p>
          <p>
            Notre objectif était de concevoir un projet qui nous permettrait de manipuler des données de manière sécurisée et aisée, tout en intégrant des aspects d’intelligence artificielle. Nous cherchions à stimuler notre réflexion ainsi que notre sens de la conception et du développement.
          </p>
          <p>
            Après mûre réflexion, nous avons décidé de créer un Proof of Concept (POC) pour un système de surveillance connecté. Ce système, équipé d’une webcam, permettrait la détection de mouvement avec reconnaissance des formes détectées. Nous avons imaginé ce dispositif comme une solution de surveillance pour les foyers, utile notamment en cas de départ en vacances.
          </p>
          <p>
            En accompagnement de la webcam, nous avons développé une application Web nommée "iWebcamProtect". Cette plateforme offre aux utilisateurs la possibilité de suivre l’état de leurs caméras au fil du temps. L’application permet de créer un compte de manière sécurisée ou de se connecter avec un compte Google. Une fois connecté, l'utilisateur peut ajouter une caméra et consulter les dernières informations, lui assurant de rester informé sur l’état de son foyer.
          </p>
          <p>
            Pour assurer la liaison entre l’application web, la caméra et la base de données, nous avons développé une API, dont nous détaillerons les fonctionnalités par la suite.
          </p>
          <h3>Description du Projet</h3>
          <p>
            Le but de ce projet est de créer un POC d’un système de vidéosurveillance permettant de surveiller l’intérieur d’un logement grâce à la détection de mouvement. En plus de la détection, une application Web permettra de visualiser les données récoltées.
          </p>
          <p>
            L’application Web disposera également d’une interface de gestion complète et intuitive pour les administrateurs, leur permettant de gérer les utilisateurs et leurs permissions. Un utilisateur pourra ajouter et visualiser l’état d’une caméra, ainsi qu’accéder aux images prises par celle-ci.
          </p>
          <p>
            Cette application sera compatible avec tous les navigateurs Web. Nous l’avons développée avec le framework ASP.NET Boilerplate, qui regroupe deux technologies :
          </p>
          <ul>
            <li>ASP.NET Core avec C# pour la partie backend</li>
            <li>Angular avec TypeScript pour la partie frontend</li>
          </ul>
          <p>
            La connexion à l’application se fait en créant un compte ou en utilisant la fonctionnalité SSO avec un compte Google grâce à Google API. Le développement des applications a été réalisé sous Visual Studio 2022 pour le backend et Visual Studio Code pour l’interface utilisateur.
          </p>
          <h3>Documentation et Code Source</h3>
          <p>
            Vous pouvez trouver plus d'informations sur le projet et sa documentation :
          </p>
          <ul>
            <li>
              <a href="https://www.aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template-Core">
                Documentation pour ce template</a>
            </li>
            <li>
              <a href="http://www.aspnetboilerplate.com/Pages/Documents">
                Documentation ASP.NET Boilerplate</a>
            </li>
          </ul>
          <p>
            Le code source de ce template est développé en open source sur Github. Vous pouvez contribuer au template :
            <a href="https://github.com/aspnetboilerplate/module-zero-core-template">
              https://github.com/aspnetboilerplate/module-zero-core-template</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>