<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "CameraDetail" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <p-card header="{{ 'CameraInfos' | localize }}">
            <div class="d-flex justify-content-around align-items-center">
              <div>
                <label class="mr-3" for="reference">{{
                  "Reference" | localize
                }}</label>
                <input
                  type="text"
                  pInputText
                  id="reference"
                  [disabled]="true"
                  [value]="camera?.reference"
                  style="color: black"
                />
              </div>

              <div>
                <label class="mr-3" for="name">{{
                  "NameCamera" | localize
                }}</label>
                <input
                  id="name"
                  type="text"
                  pInputText
                  [disabled]="true"
                  [value]="camera?.name"
                  style="color: black"
                />
              </div>

              <div>
                <label class="mr-3" for="state">{{ "State" | localize }}</label>
                <p-tag
                  id="state"
                  [value]="camera?.state == 1 ? 'ON' : 'OFF'"
                  [severity]="getSeverityCameraState(camera?.state)"
                ></p-tag>
              </div>
            </div>
          </p-card>
        </div>
        <div class="card-body">
          <ng-container
            *ngIf="
              detectionEvents && detectionEvents.length !== 0;
              else noDetectionEvents
            "
          >
            <p-carousel
              [value]="detectionEvents"
              [numVisible]="3"
              [numScroll]="3"
              [circular]="false"
              [responsiveOptions]="responsiveOptions"
            >
              <ng-template let-detectionEvent pTemplate="item">
                <div class="card border-1 border-round m-2 text-center p-2">
                  <div class="mb-3">
                    <p-image
                      [src]="detectionEvent.imageBase64"
                      [alt]="detectionEvent.entityType.label"
                      imageClass="img-fluid rounded shadow"
                      [preview]="true"
                    ></p-image>

                    <!-- <img
                      [src]="detectionEvent.imageBase64"
                      [alt]="detectionEvent.entityType.label"
                      class="img-fluid rounded shadow"
                    /> -->
                  </div>
                  <div>
                    <h4 class="mb-1">
                      {{ formatMomentDate(detectionEvent.detectedTime) }}
                    </h4>
                    <h5 class="mt-0 mb-3">
                      {{ detectionEvent.entityType.label }}
                    </h5>
                    <p-tag
                      [value]="
                        getIconEntityType(
                          detectionEvent.entityType.emergencyLevel
                        )
                      "
                      [severity]="
                        getSeverityEntityType(
                          detectionEvent.entityType.emergencyLevel
                        )
                      "
                    ></p-tag>
                    <div
                      class="mt-5 flex align-items-center justify-content-center gap-2"
                    >
                      <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteDetectionEvent(detectionEvent)"
                      ></button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-carousel>
          </ng-container>

          <ng-template #noDetectionEvents
            ><div
              class="noDetectionEvents d-flex justify-content-center align-items-center"
            >
              <h3>{{ "NoDetectionEventForNow" | localize }}</h3>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
</div>
